@font-face {
	font-family: "Acumin-R";
	src: url(font/Acumin-RPro.woff);
}


body
{
    font-family: "Acumin-R";
    letter-spacing: -0.5px;
    word-spacing: 1px;
}


header
{
	size: 100%;
}
.ban1 
{ 
	background-image: url('images/a_la_plage.jpg'); 
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.ban2 
{ 
	background-image: url('images/atelier_couture.jpg'); 
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.ban3 
{ 
	background-image: url('images/image_journal.jpg'); 
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.ban4 
{ 
	background-image: url('images/peche.jpg'); 
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.ban5 
{ 
	background-image: url('images/jolie_famille.jpg'); 
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.ban6 
{ 
	background-image: url('images/femmes_fleurs.jpg');
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%; 
}
.ban7
{ 
	background-image: url('images/deuxfemmes.jpg'); 
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.ban8
{ 
	background-image: url('images/footballeurs.jpg'); 
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

/*Header*/

header
{
	background-color: rgba(76,39,118,0.9);
	max-width: 1950px;
	margin: -8px;
	box-shadow: 3px 6px 15px #391D59;
	height: 5em;
	display: flex;
}


#logo img
{
    width: 68px;
    height: 60.5px;
    margin-left: 65px;
    margin-top: 0.6em;
    margin-right: 45px;
}


/*Navigation*/

nav ul
{
    list-style-type: none;
    display: flex;
    margin-top: 1em;
    font-size: 1.55em;
    font-weight: 600;
}    

.lien_nav
{
	color: #BAAACD;
	text-decoration: none;
}

.lien_nav:visited 
{
    color: #BAAACD;
}

.lien_nav:hover
{
   color: #CCA135;
}

.lien_nav:focus
{
    outline: none;
}


nav li
{
    margin-right: 60px;
}

mark
{
	border-bottom: 3px solid #CCA135;
	background: none;
	color: #BAAACD;
}
mark:hover
{
   color: #CCA135;
}

/*Section*/

section
{
	background-color: rgba(186,170,205,0.75);
	width: 375px;
	margin-left:calc(95% - 375px);
	margin-top: 20%;
	box-shadow: 3px 6px 15px #524660;
	height: 430px;
}
/*Logo complet*/

#logo_complet img
{
    width: 310px;
    height: 170px;
    margin-left: 30px;
    margin-top: 12px;
}

/*Texte présentation*/

#texte_presentation
{
	width: 280px;
	margin-left: 43px;
	margin-top: -1px;
    font-size: 1.10em;
    font-stretch: semi-condensed;
    text-align: center;
    color: #62388E;
    font-weight: 500;
}

/* Cadre lien*/

#lien_cadre
{
	background-color: rgba(98,56,142,0.85);
	width: 325px;
	margin-left: 25px;
	margin-top: 35px;
	height: 60px;
	border-radius: 15px;
}

/*Lien*/

#placement
{
	padding-top: 17px;
}

#lien_texte
{
    font-size: 1.55em;
    margin-left: 70px;
    color: #CCA135;
    text-decoration: none;
    font-weight: 900;
}

#lien_texte:visited 
{
    color: #CCA135;
}

#lien_texte:hover
{
   color: #BAAACD;
}

#lien_texte:focus
{
	outline: none;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
/* .text
{
	width: 20px;
	padding: 5px;
} */

